<ul id="sortBy" class="sort-buttons">
    <li><a href="#totalCheckins" class="button brown left">Most Visited</a></li>
    <li><a href="#hereNow" class="button brown middle">Crowd Status</a></li>
    <li><a href="#distance" class="button brown right">Distance</a></li>
</ul>

<div id="container" class="clearfix">
  <% @f.first(10).each do |key, value| %>
    <div class="venue" style="background-image:url(<%= value[:img_url] %>); background-size:cover;">
      <p type="hidden" class="totalCheckins"><%= value[:totalCheckins] %></p>
      <h3 class="hereNow"><%= value[:fhereNow] %></h3>
      <h2 class="name"><a href="<%= value[:furl] %>" alt="Details" target="_blank"><%= key %></a></h2>
      <span class="distance"><p><%= value[:fdistance].meters.to.miles.round(2) %> miles away</p></span>
    </div>
  <% end %>
</div>

<script>
    $(function(){

      var $container = $('#container');

      $container.isotope({
        itemSelector: '.venue',
        layoutMode : 'masonry',
        sortBy: 'totalCheckins',
        sortAscending : false,
        animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false },
        getSortData : {
          distance : function ( $elem ) {
            return parseFloat($elem.find('.distance').text() );
          },
          hereNow : function ( $elem ) {
            return parseInt($elem.find('.hereNow').text(), 10 );
          },
          totalCheckins : function ( $elem ) {
            return parseInt($elem.find('.totalCheckins').text(), 10);
          }
        }
      });


      $('#sortBy a').click(function(){
        // get href attribute, minus the '#'
        var sortName = $(this).attr('href').slice(1);
        $('#container').isotope({ sortBy : sortName });
        return false;
      });

    });
  </script>