<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav ">
      <li><a class="brunch_title" href="#">Brunchover</a></li>
      <li><a href="/about"><img src="/assets/poweredByFoursquare_36x36.png" width="30px"></a>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="sortBy">
      <li><a href="#totalCheckins" class="btn btn-default btn-sm navbar-btn">TOP SPOT</a></li>
      <li><a href="#hereNow" class="btn btn-default btn-sm navbar-btn">CROWD STATUS</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div id="container" class="clearfix">
  <% @f.first(10).each do |key, value| %>

    <div class="venue" style="background-image:url(https://irs2.4sqi.net/img/general/width480<%= value[:img_url] %>); background-size:cover;">
      <p class="totalCheckins"><%= value[:totalCheckins] %></p>
        <h3 class="hereNow" id="hereNow"><%= value[:fhereNow] %></h3>
      <h2 class="name"><a href="<%= value[:furl] %>" alt="Details" target="_blank"><%= key %></a></h2>
    </div>
  <% end %>
</div>


  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42096887-1', 'brunchover.com');
    ga('send', 'pageview');

  </script>