<div>
<!--Need to show icon if they serve bloodies and/or mimosas-->
<section class="clearfix">
<ul id="sortBy" class="cravings-buttons">
      <li><a href="#totalCheckins" class="button brown left">Most Loved</a></li>
      <li><a href="#hereNow" class="button brown middle">Crowd Status</a></li>
      <li><a href="#name" class="button brown right">A-to-Z</a></li>
</ul>
</section>
<div id="container" class="clearfix">
  <% @f.first(10).each do |key, value| %>

  <div class="venue" style="background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=<%= value[:flat] %>,<%= value[:flng] %>&zoom=16&size=420x420&maptype=roadmap&sensor=false);">
        <p class="totalCheckins"><%= value[:totalCheckins] %></p>
        <h3 class="hereNow"><%= value[:fhereNow] %></h3>
        <h2 class="name"><a href="<%= value[:furl] %>" alt="Details" target="_blank"><%= key %></a></h2>
        <p class="address"><% if value[:faddress] %><%= value[:faddress] %>, <%= value[:fcity] %> <% else %> <%= value[:fcity] %> <% end %> </p>
      </div>
      <%end %>
</div>

<script>
    $(function(){

      var $container = $('#container');

      $container.isotope({
        itemSelector: '.venue',
        layoutMode : 'masonry',
        sortBy: 'totalCheckins',
        animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false },
        getSortData : {
          name : function ( $elem ) {
            return $elem.find('.name').text();
          },
          hereNow : function ( $elem ) {
            return parseInt($elem.find('.hereNow').text(), 10 );
          },
          totalCheckins : function ( $elem ) {
            return parseInt($elem.find('.totalCheckins').text(), 10);
          }
        }
      });


      $('#sortBy a').click(function(){
        // get href attribute, minus the '#'
        var sortName = $(this).attr('href').slice(1);
        $('#container').isotope({ sortBy : sortName });
        return false;
      });

    });
  </script>