<div>
<!--Need to show icon if they serve bloodies and/or mimosas-->
<section class="clearfix">
<ul id="sort-by" class="cravings-buttons" data-option-key="sortBy">
      <li><a href="#sortBy=totalCheckins" data-option-value="totalCheckins" class="button brown left">Top Spot</a></li>
      <li><a href="#sortBy=hereNow" data-option-value="hereNow" class="button brown middle">Popular Now</a></li>
      <li><a href="#sortBy=name" data-option-value="name" class="button brown right">Name</a></li>
</ul>
</section>
<div id="container" class="clearfix">
  <% @f.first(10).each do |key, value| %>
  <div class="venue" style="background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=<%= value[:flat] %>,<%= value[:flng] %>&zoom=16&size=420x420&maptype=roadmap&sensor=false);">
        <p class="totalCheckins"><%= value[:totalCheckins] %></p>
        <h3 class="hereNow"><%= value[:fhereNow] %></h3>
        <h2 class="name"><a href="<%= value[:furl] %>" alt="Details" target="_blank"><%= key %></a></h2>
        <p class="address"><% if value[:faddress] %><%= value[:faddress] %>, <%= value[:fcity] %> <% else %> <%= value[:fcity] %> <% end %> </p>
      </div>
      <%end %>
</div>

<script>
    $(function(){

      var $container = $('#container');

      $container.isotope({
        itemSelector: '.venue',
        getSortData : {
          name : function ( $elem ) {
            return $elem.find('.name').text();
          },
          hereNow : function ( $elem ) {
            return parseInt($elem.find('.hereNow').text(), 10 );
          },
          totalCheckins : function ( $elem ) {
            return parseInt($elem.find('.totalCheckins').text(), 10);
          }
        },

        layoutMode : 'masonry',
        sortBy : 'name',
        resizable: false, // disable normal resizing
        // set columnWidth to a percentage of container width
        masonry: { columnWidth: $container.width() / 5 }

      });
      // update columnWidth on window resize
      $(window).smartresize(function(){
        $container.isotope({
          // update columnWidth to a percentage of container width
          masonry: { columnWidth: $container.width() / 5 }
        })


    });
  </script>